@use "../foundation/base" as *;

.features {
    padding: 80px 0 0;
    text-align: center;

    &__inner {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 4%;

        @media (max-width: 768px) {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        max-width: 1080px;
        margin: 0 auto 100px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 50px;
            margin-bottom: 60px;
        }
    }

    &__item {
        text-align: center;

        opacity: 0;
        transform: translateY(40px);
    
        transition: opacity 1.0s cubic-bezier(0.25, 1, 0.5, 1), 
        transform 1.0s cubic-bezier(0.25, 1, 0.5, 1); 

        .editor-styles-wrapper & {
            opacity: 1;
            transform: translateY(0);
        }

        &:nth-child(1) { transition-delay: 0s; }
        &:nth-child(2) { transition-delay: 0.3s; }
        &:nth-child(3) { transition-delay: 0.6s; }

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }

        @media (max-width: 768px) {
            transition-delay: 0s !important; 
        }
    }


    &__icon-wrapper {
        width: 100%;
        max-width: 100%;
        margin: 0 auto 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
    }

    &__icon {
        width: 80px;
        height: auto;
        display: block;
    }

    &__item-title {
        font-size: 18px;
        font-weight: 700;
        color: $color-text-main;
        margin-bottom: 15px;
        
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    &__item-text {
        font-size: 14px;
        line-height: 1.7;
        color: #444;
        text-align: left;
        word-break: auto-phrase;
    }

    &__cta {
        padding: 80px 20px;
        margin: 0 calc(50% - 50vw);
        
        @media (max-width: 768px) {
            padding: 60px 20px;
        }
    }

    &__cta-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.6;
        color: $color-text-main;
        margin-bottom: 50px;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    &__cta-btn-wrapper {
        display: inline-block;
        margin: 0 auto;
    }
}