@use "../foundation/base" as *;

.header {
    background-color: $color-accent; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 16px 0;

        @media (max-width: 768px) {
            padding: 12px 0;
        }

    &__inner {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-link {
        color: $color-text-white;
        font-weight: 500;
        font-size: 24px;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }

        @media (max-width: 768px) {
            font-size: 20px;
        }
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__btn.c-btn {
        font-size: 14px;
        padding: 10px 24px;
        box-shadow: none;

        &:hover {
            transform: none; 
        }

        @media (max-width: 768px) {
            max-width: none;
            font-size: 12px;
            padding: 8px 14px;
        }
    }
}